.about-container {
  width: 95%;
  height: 80vh;
  padding: 20px;
  font-family: "Roboto, Arial, sans-serif";
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-heading {
  font-size: 80px;
  color: #3498db;
  /* margin-bottom:px; */
}

.about-paragraph {
  font-size: 45px;
  color: #555;
  line-height: 1.6;
}

.about-list {
  font-size: 35px;
  margin-left: 20px;
  margin-top: 10px;
  list-style-type: none;
}

@media (max-width: 500px) {
  .about-container {
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.3); 
    width: 100%;
    height: 83vh; 
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    /* padding: 10px;  */
  }

  .about-heading {
    font-size: 40px; 
  }

  .about-paragraph {
    font-size: 25px; 
    line-height: 1.4;
  }

  .about-list {
    font-size: 25px;
    margin-left: 10px;
  }
}
