.get-notes-container {
  width: 90%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5rem;
}

.get-notes-heading {
  text-align: center;
  margin-bottom: 1.5rem;
}

.get-notes-custom-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.get-notes-custom-row-item {
  flex: 0 0 calc(33.333333% - 1.5rem);
  max-width: calc(33.333333% - 1.5rem);
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  box-sizing: border-box;
}

@media (min-width: 576px) {
  .get-notes-custom-row-item {
    flex: 0 0 calc(50% - 1.5rem);
    max-width: calc(40% - 1.5rem);
  }
}

@media (min-width: 992px) {
  .get-notes-custom-row-item {
    flex: 0 0 calc(33.333333% - 1.5rem);
    max-width: calc(33.333333% - 1.5rem);
  }
}

.get-notes-custom-row-item {
  flex-basis: 0;
  flex-grow: 1;
  max-width: calc(100% - 1.5rem);
  text-align: center;
}

.get-notes-no-notes {
  margin-top: 3rem;
}

.get-notes-no-notes-message {
  font-size: 1.5rem;
}

.get-notes-modal {
  display: none;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .get-notes-container {
    margin-top: 3rem;
  }

  .get-notes-custom-row-item {
    flex: 0 0 100%;
    max-width: 100%;
    margin-right: 0;
    margin-left: 0;
  }

  .get-notes-no-notes-message {
    font-size: 1.2rem;
  }
}
